*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(62, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 450px;
    width: 310px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
#card img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    font-size: 25px;
    margin-top: 10px;
}
p{
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    color: #777;
}
h5{
    font-size: 24px;
    margin
}