*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(62, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 400px;
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
}
#card img{
    height: 130px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}